doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Cities by Population
    table
      thead
        tr
          th Name
          th Country Code
          th District
          th Population
      tbody
        if cities.length
          each city in cities
            tr
              td= city.Name
              td= city.CountryCode
              td= city.District
              td= city.Population
        else
          tr
            td(colspan="4") No data available
